# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/
staticfiles/
local_settings.py

# Virtualenv
venv/
ENV/
env/
.venv/

# IDEs
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# OS files
.DS_Store
Thumbs.db

# Node modules (if using frontend tools)
node_modules/

# Coverage reports
htmlcov/
.coverage
.coverage.*

# Migrations (optional, if you want to ignore them)
# */migrations/*.pyc
# */migrations/*.pyo
# */migrations/*.db

# Test and debug
*.pytest_cache/